# ignore proprietary NiTE2 files
server/Screenful-GestureServer/NiTE2/Data/
server/Screenful-GestureServer/NiTE2/FeatureExtraction.ini
server/Screenful-GestureServer/NiTE2/HandAlgorithms.ini
server/Screenful-GestureServer/NiTE2/h.dat
server/Screenful-GestureServer/NiTE2/s.dat

*.log
/server/Screenful-GestureServer/nbproject
/server/Screenful-GestureServer/build/
/server/Screenful-GestureServer/dist/
!/server/Screenful-GestureServer/dist/Screenful-GestureServer.jar
