# ignore proprietary NiTE2 files
examples/NiTE2-project/Screenful-NiTE2/NiTE2/Data/
examples/NiTE2-project/Screenful-NiTE2/NiTE2/FeatureExtraction.ini
examples/NiTE2-project/Screenful-NiTE2/NiTE2/HandAlgorithms.ini
examples/NiTE2-project/Screenful-NiTE2/NiTE2/h.dat
examples/NiTE2-project/Screenful-NiTE2/NiTE2/s.dat

/*.log
examples/NiTE2-project/Screenful-NiTE2/dist/
!examples/NiTE2-project/Screenful-NiTE2/dist/javadoc
/examples/NiTE2-project/Screenful-NiTE2/nbproject/private/
